@import url('https://bootswatch.com/5/zephyr/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

body {
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.golos-text {
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.golos-text-bold {
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.golos-text-italic {
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.golos-text-bold-italic {
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
}